
<div  class="col-sm-offset-2 col-sm-10">
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
    </tr>

    </tbody>
</table>

</div>